<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @operator.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @operator.matricula %>
</p>

<p>
  <strong>Dateniver:</strong>
  <%= @operator.dateniver %>
</p>

<%= link_to 'Edit', edit_operator_path(@operator) %> |
<%= link_to 'Back', operators_path %>
